@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-decoration: none;
  word-spacing: 2px;
  letter-spacing: 1px;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.contentPricipal {
  flex-grow: 1;
  min-height: 200px;
}
header {
  background-color: rgb(26, 41, 77);
  text-align: center;
  color: #b3c0ce;
  font-size: 15px;
  font-weight: 150;
  padding: 5px;
}
nav {
  background-color: #021d47a4;
  display: flex;
  align-items: space-around;
  justify-content: space-between;
}
nav ul {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
}
nav ul li h2 {
  font-weight: 300px;
  color: #b3c0ce;
  padding: 30px 0 0 0;
}
nav ul li h2:hover {
  color: #3ba8e7;
}
.logoGaid,
.iconLogin {
  height: 90px;
  width: 90px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer {
  background-color: rgb(26, 41, 77);
  text-align: center;
  color: #b3c0ce;
  font-size: 20px;
  font-weight: 200px;
  padding: 5px;
}
@media (max-width: 900px) {
  nav ul {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
  }
  nav ul li h2 {
    font-size: 15px;
    padding: 20px 0;
    color: #b3c0ce;
    padding: 30px 0 0 0;
  }
}
@media (max-width: 744px) {
  body {
    min-height: 120vh;
    display: flex;
    flex-direction: column;
  }
  header {
    font-size: 6px;
  }
  nav ul {
    height: 65px;
  }
  nav ul li h2 {
    font-size: 15px;
    padding: 20px 0;
    color: #b3c0ce;
    padding: 30px 0 0 0;
  }
  footer {
    font-size: 13px;
    font-weight: 100px;
    padding: 5px;
  }
  .logoGaid,
  .iconLogin {
    height: 100px;
    width: auto;
    padding: 10px;
    display: flex;
    align-items: center;
  }
}
@media (max-width: 576px) {
  nav ul li h2 {
    font-size: 13px;
  }
}
@media (max-width: 453px) {
  nav ul li h2 {
    font-size: 6px;
  }
  .logoGaid img,
  .iconLogin img {
    height: 40px;
    width: 40px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 321px) {
  nav ul li h2 {
    font-size: 5px;
  }
  .logoGaid img,
  .iconLogin img {
    height: 20px;
    width: 20px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 258px) {
  nav ul li h2 {
    font-size: 4px;
  }
  .logoGaid img,
  .iconLogin img {
    height: 18px;
    width: 18px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 230px) {
  nav ul li h2 {
    font-size: 3px;
  }
  .logoGaid img,
  .iconLogin img {
    height: 17px;
    width: 17px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 205px) {
  nav ul li h2 {
    font-size: 2px;
  }
  .logoGaid img,
  .iconLogin img {
    height: 17px;
    width: 17px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
