@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");


}
@media (max-width: 230px) {
  h3 {
    font-size: 15px;
  }
  .botaoSaibaMais {
    background-color: #021d47a4;
    width: 110px;
    padding: 10px 8px;
    border-radius: 20px;
    display: flex;

}
@media (max-width: 200px) {
  h3 {
    font-size: 15px;
  }
  .botaoSaibaMais {
    background-color: #021d47a4;
    width: 110px;
    padding: 10px 8px;
    border-radius: 20px;
    display: flex;
    margin: 80% 10% 0;
  }
  .paragrafo {
    width: 100%;
    float: right;
    margin: 6% 6% 0 0;
    border-radius: 15px;
  }
}
